<template>
    <div :class="alertClass" role="alert" v-show="show">
        <strong>{{ type | capitalize }}!</strong> {{ body }}
    </div>
</template>

<script>
    export default {
        props: ['message', 'status'],

        data() {
            return {
                body: '',
                type: '',
                show: false
            }
        },

        created() {
            if(this.message) {
                this.flash(this.message);
            }

            window.events.$on('flash', (message, status) =>
                    this.flash(message, status)
            );
        },

        methods: {
            flash(message, status) {
                this.body = message;
                this.type = status;
                this.show = true;

                this.hide();
            },

            hide() {
                setTimeout(() => {
                    this.body = '';
                    this.show = false;
                }, 3000);
            }
        },

        computed: {
            alertClass() {
                return 'alert alert-' + this.type + ' alert-flash';
            }
        }

    }
</script>

<style>
    .alert-flash {
        position: fixed;
        right: 50px;
        top: 75px;
    }
</style>
