<template>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">

                <h3 class="panel-title">
                    New Risk
                </h3>
            </div>

            <div class="panel-body">
                <div :class="'form-group '+hasErrors(errors.title)">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" v-model="risk.title">
                    <form-error v-if="errors.title" :errors="errors">
                        {{ errors.title[0] }}
                    </form-error>
                </div>
                <div :class="'form-group '+hasErrors(errors.tracking_number)">
                    <label for="tracking_number">Tracking Number:</label>
                    <input type="text" class="form-control" id="tracking_number" v-model="risk.tracking_number" >
                </div>
                <div :class="'form-group '+hasErrors(errors.description)">
                    <label for="description">Description:</label>
                    <textarea rows="5" class="form-control" id="description" v-model="risk.description" ></textarea>
                </div>
                <div :class="'form-group '+hasErrors(errors.nist_control_name_id)">
                    <label>Safeguard:</label>
                    <v-select
                            :debounce="250"
                            :on-search="getOptions"
                            :options="options"
                            placeholder="Please select a Safeguard..."
                            label="label"
                            v-model="risk.nist_control_name_id"
                            required
                    >
                    </v-select>
                </div>
                <div :class="'form-group '+hasErrors(errors.assignment)">
                    <label for="assignment">Assignment:</label>
                    <select name="assignment" id="assignment" v-model="risk.assignment">
                        <option v-for="assignment in assignments" :value="assignment" v-text="assignment"></option>
                    </select>
                </div>
                <div :class="'form-group '+hasErrors(errors.impact)">
                    <label for="impact">Impact:</label>
                    <select name="impact" id="impact" v-model="risk.impact" >
                        <option v-for="impact in impacts" :value="impact" v-text="impact"></option>
                    </select>
                </div>
                <div :class="'form-group '+hasErrors(errors.status)">
                    <label for="status">Status:</label>
                    <select name="status" id="status" v-model="risk.status" >
                        <option v-for="status in statuses" :value="status" v-text="status"></option>
                    </select>
                </div>
                <div :class="'form-group '+hasErrors(errors.target_completion)">
                    <label for="status">Target Completion:</label>
                    <datepicker
                            v-model="risk.target_completion"
                            name="target_completion"
                            :format="customDateFormatter"
                            bootstrapStyling
                    ></datepicker>
                </div>
                <div :class="'form-group '+hasErrors(errors.fix_action)">
                    <label for="fix_action">Fix Action:</label>
                    <textarea rows="5" class="form-control" id="fix_action" v-model="risk.fix_action" ></textarea>
                </div>
                <button type="submit"
                        class="btn btn-success"
                        @click="addRisk">Submit
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import debounce from 'debounce';
    import FormError from './FormError.vue';

    export default {
        props: ['impacts', 'statuses', 'assignments'],

        components: { FormError },
        data() {
            return {
                risk: {
                    title: '',
                    tracking_number: '',
                    description: '',
                    assignment: 'Engineering',
                    impact: 'Low',
                    status: 'Ongoing',
                    target_completion: moment().add(3, 'months').format('YYYY-MM-DD'),
                    fix_action: '',
                    nist_control_name_id: '',
                    created_by: window.App.user.name
                },
                options: [],
                delay: 300,
                submitted: false,
                errors: [],
            }
        },

        created() {
            this.getOptions = debounce(this.getOptions, this.delay);
            this.fetch();
        },

        methods: {

            fetch(search, loading) {
                axios.get('/api/nist-control-names', { params: { q: search }})
                        .then(response => {
                            this.options = response.data;
                            loading(false);
                        });
            },

            addRisk() {

                this.risk.target_completion = moment(this.risk.target_completion).format('YYYY-MM-DD');

                axios.post('/risks', this.risk)
                        .then(({data}) => {
                            window.location.href="/risks/" + data.risk.id ;

                        })
                        .catch(error => {
                            if (error.response) {
                                this.errors = error.response.data;
                            }
                        });

            },

            getOptions(search, loading) {
                loading(true);
                this.fetch(search, loading);
            },

            hasErrors(field) {
                return field ? 'has-error' : '';
            }
        },

        computed: {
            customDateFormatter() {
                return moment(this.risk.target_completion).format('YYYY-MM-DD');
            },
        }
    }
</script>