<template>
    <ul class="pagination" v-if="shouldPaginate">
        <li :class="{ disabled: ! prevUrl }">
            <a href="#" aria-label="Previous" rel="prev" @click.prevent="isPrevPage">
                <span aria-hidden="true">&laquo; Previous</span>
            </a>
        </li>
        <li :class="{ disabled: ! nextUrl }">
            <a href="#" aria-label="Next" rel="next" @click.prevent="isNextPage">
                <span aria-hidden="true">Next &raquo;</span>
            </a>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['pagination'],

        data() {
            return {
                page: '',
                prevUrl: false,
                nextUrl: false
            }
        },

        watch: {
            pagination() {
                this.page = this.pagination.current_page;
                this.prevUrl = this.pagination.prev_page_url;
                this.nextUrl = this.pagination.next_page_url;
            },

            page() {
                this.broadcast().updateUrl();
            }
        },

        computed: {
            shouldPaginate() {
                return !! this.prevUrl || !! this.nextUrl;
            },

            isPrevPage() {
                return this.pagination.current_page != 1 ? this.page-- : false;
            },

            isNextPage() {
                return this.pagination.current_page < this.pagination.last_page ? this.page++ : false;
            }
        },

        methods: {
            broadcast() {
                return this.$emit('changed', this.page);
            },

            updateUrl() {
                history.pushState(null, null, '?page=' + this.page);
            }
        }
    }
</script>