<template>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-success" href="/risks/export" download>
                    Export to XLSX
                </a>
                <!--<button class="btn btn-success" @click="exportRisks">-->
                    <!--Export to XLSX-->
                <!--</button>-->
            </div>
            <div class="col-md-8">
                <h4 class="text-center" v-if="loading">
                    <icon name="refresh" scale="2" spin></icon>
                </h4>
                <h4 class="text-center" v-else="loading">
                    Found {{ pagination.total }} Risks
                </h4>
                <hr>
                <form>

                    <div class="form-group input-group">
                        <label>Filter by fields:
                            <select v-model="filter">
                                <option v-for="filter in filters" :value="filter">
                                    {{ filter.name }}
                                </option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group input-group">
                        <input type="text"
                               class="form-control"
                               @keyup="fetch"
                               :placeholder="'Search Risk Items by ' + filter.name +'...'"
                               v-model="search"
                        >
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Search</button>
                        </span>
                    </div>

                </form>
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <div class="panel panel-primary" v-for="risk in risks">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="#" @click="navigate(risk)">
                                {{ risk.title }}
                                <button type="button" class="btn btn-default btn-sm pull-right">Edit</button>
                            </a>
                        </h3>
                        <small>Tracking Number: {{ risk.tracking_number }}</small>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><b>Created By:</b> {{ risk.created_by }} <span v-text="ago(risk.created_at)"></span></li>
                            <li><b>Safeguard:</b> {{ risk.nist_control_name.name }}</li>
                            <li><b>Assignment:</b> {{ risk.assignment }}</li>
                            <li><b>Impact:</b> {{ risk.impact }}</li>
                            <li><b>Status:</b> {{ risk.status }}</li>
                            <li><b>Target Completion:</b> {{ targetDate(risk.target_completion) }}</li>
                            <li><b>Description:</b> {{ risk.description }}</li>
                        </ul>
                    </div>
                </div>

                <paginator :pagination="pagination" @changed="fetch"></paginator>

            </div>

        </div>
    </div>
</template>

<script>

    import debounce from 'debounce';

    export default {

        props: ['impacts'],

        components: { },

        created() {
            this.fetch();
            this.fetch = debounce(this.fetch, this.delay);
        },

        data() {
            return {
                risks: [],
                pagination: false,
                search: '',
                delay: 300,
                loading: true,
                filter: {
                    name: 'Title',
                    value: 'title'
                },
                filters: [
                    {
                        name: 'Assignment',
                        value: 'assignment'
                    },
                    {
                        name: 'Created By',
                        value: 'created_by'
                    },
                    {
                        name: 'Description',
                        value: 'description'
                    },
                    {
                        name: 'Impact',
                        value: 'impact'
                    },
                    {
                        name: 'Safeguard',
                        value: 'nist_control_name_id'
                    },
                    {
                        name: 'Status',
                        value: 'status'
                    },
                    {
                        name: 'Title',
                        value: 'title'
                    },
                    {
                        name: 'Tracking Number',
                        value: 'tracking_number'
                    },
                ],
                endpoint: '/api/risks'
            }
        },

        watch: {
            filter() {
                this.fetch();
            }
        },

        methods: {
            fetch(page) {
                this.loading = true;
                axios.get(this.url(page))
                        .then(this.refresh)
            },

            url(page) {

                if(! page) {
                    let query = location.search.match(/page=(\d+)/);

                    page = query ? query[1] : 1;
                }

                let req = '?page=' + page + '&filter=' + this.filter.value;

                if(this.search) {
                    req = req + '&search=' + this.search;
                }

                return this.endpoint + req;
            },

            refresh({data}) {
                this.risks = data.risks.data;
                this.pagination = data.risks;
                this.loading = false;
            },

            navigate(risk) {
                return window.location.href = "/risks/" + risk.id;
            },

            ago(date) {
                return moment(date).fromNow();
            },

            targetDate(date) {
                return moment(date).format("MMM Do YYYY");
            },

            exportRisks() {
                axios.get('/risks/export')
            }
        }
    }
</script>

<style>
    .fa-icon {
        color: green;
    }
</style>
