<template>
    <div class="form-group top-form">
        <div class="col-md-6 col-md-offset-1">

            <div id="accordion" role="tablist" aria-multiselectable="true">

                <!-- Begin Edit Risk -->

                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="riskDetails">
                        <h3 class="panel-title">
                            <icon name="shield"></icon>
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapseRiskDetails"
                               aria-expanded="true"
                               aria-controls="collapseRiskDetails"
                               @click="toggleRiskButton"
                            >
                                {{ risk.title}}
                                <button type="button" class="btn btn-default btn-sm pull-right" v-text="riskButton"></button>
                            </a>
                        </h3>
                        <small class="panel-title-stats">Created by: {{ risk.created_by }}</small>
                    </div>
                    <div id="collapseRiskDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="riskDetails">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" class="form-control" id="title" v-model="risk.title">
                            </div>
                            <div class="form-group">
                                <label for="tracking_number">Tracking Number:</label>
                                <input type="text" class="form-control" id="tracking_number" v-model="risk.tracking_number">
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea rows="5" class="form-control" id="description" v-model="risk.description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Safeguard:</label>
                                <v-select
                                        :debounce="250"
                                        :on-search="getOptions"
                                        :options="options"
                                        placeholder="Please select a Safeguard..."
                                        label="label"
                                        v-model="selectedNistControlName"
                                        required
                                >
                                </v-select>
                            </div>
                            <div class="form-group">
                                <label for="assignment">Assignment:</label>
                                <select name="assignment" id="assignment" v-model="selectedAssignment">
                                    <option v-for="assignment in assignments" :value="assignment" v-text="assignment"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="impact">Impact:</label>
                                <select name="impact" id="impact" v-model="selectedImpact">
                                    <option v-for="impact in impacts" :value="impact" v-text="impact"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <select name="status" id="status" v-model="selectedStatus">
                                    <option v-for="status in statuses" :value="status" v-text="status"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="status">Target Completion:</label>
                                <datepicker
                                        v-model="risk.target_completion"
                                        name="target_completion"
                                        :format="customDateFormatter"
                                        bootstrapStyling
                                ></datepicker>
                            </div>
                            <div class="form-group">
                                <label for="fix_action">Fix Action:</label>
                                <textarea rows="5" class="form-control" id="fix_action" v-model="risk.fix_action"></textarea>
                            </div>
                            <button type="submit"
                                    class="btn btn-success"
                                    @click="updateRisk">Update
                            </button>
                        </div>
                    </div>
                </div>

                <!-- End Edit Risk -->

                <!-- Begin Milestones -->

                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="milestoneDetails">
                        <h3 class="panel-title">
                            <icon name="flag"></icon>
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapseMilestoneDetails"
                               aria-expanded="true"
                               aria-controls="collapseMilestoneDetails"
                               @click="toggleMilestonesButton"
                            >
                                Milestones
                                <button type="button" class="btn btn-default btn-sm pull-right" v-text="milestonesButton"></button>
                            </a>
                        </h3>
                        <small class="panel-title-stats">{{ risk.milestones.length }} {{ risk.milestones.length | pluralize('Milestone') }} Created</small>
                    </div>
                    <div id="collapseMilestoneDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="milestoneDetails">
                        <div class="panel-body">
                            <div class="panel-title">
                                <div>
                                    <div class="form-group">
                                            <textarea name="milestoneBody"
                                                      id="milestoneBody"
                                                      class="form-control"
                                                      placeholder="Post a new Milestone..."
                                                      rows="5"
                                                      required
                                                      v-model="newMilestone.body">

                                            </textarea>
                                    </div>

                                    <button type="submit"
                                            class="btn btn-success"
                                            @click="addMilestone">Post
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <div class="drag-n-drop-message">Drag and Drop Milestones to Reorder Priorities</div>
                            <draggable v-model="milestones">
                                <div v-for="milestone, key in milestones">
                                    <div  :class="'panel panel-'+milestoneCompletedStatus(milestone.completed)">
                                        <div class="panel-heading">
                                            <div class="level">
                                                <h5 class="flex">
                                                    Created by {{ milestone.created_by }} {{ ago(milestone.created_at) }} <span class="pull-right"><b>Priority {{ key+1 }}</b></span>
                                                </h5>
                                            </div>
                                        </div>
                                        <div :class="'panel-body panel-body-'+milestoneCompletedStatus(milestone.completed)">
                                            {{ milestone.body }}
                                        </div>
                                        <div :class="'level panel-footer panel-footer-'+milestoneCompletedStatus(milestone.completed)">

                                            <button v-if="milestone.completed"
                                                    class="btn btn-xs mr-1 btn-danger"
                                                    @click="milestone.completed = false; updateMilestones();">
                                                Mark Incomplete
                                            </button>
                                            <button v-else
                                                    class="btn btn-xs mr-1 btn-success"
                                                    @click="milestone.completed = true; updateMilestones();">
                                                Mark Complete
                                            </button>
                                            <button v-if="milestone.created_by == newMilestone.created_by"
                                                    class="btn btn-xs mr-1 btn-danger"
                                                    @click="deleteMilestone(milestone, key)">
                                                Delete
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </draggable>
                        </div>
                    </div>
                </div>

                <!-- End Milestones -->

                <!-- Begin Comments -->

                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="commentDetails">
                        <h3 class="panel-title">
                            <icon name="comments"></icon>
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapseCommentDetails"
                               aria-expanded="true"
                               aria-controls="collapseCommentDetails"
                               @click="toggleCommentsButton"
                            >
                                Comments
                                <button type="button" class="btn btn-default btn-sm pull-right" v-text="commentsButton"></button>
                            </a>
                        </h3>
                        <small class="panel-title-stats">{{ risk.comments.length }} {{ risk.comments.length | pluralize('Comment') }} Added</small>
                    </div>
                    <div id="collapseCommentDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="commentDetails">
                        <div class="panel-body">
                            <div class="panel-title">
                                Comments
                                    <div class="form-group">
                                        <textarea name="commentBody"
                                                  id="commentBody"
                                                  class="form-control"
                                                  placeholder="Post a new Comment..."
                                                  rows="5"
                                                  required
                                                  v-model="newComment.body">

                                        </textarea>
                                    </div>

                                    <button type="submit"
                                            class="btn btn-success"
                                            @click="addComment">Post
                                    </button>
                                </div>
                            <hr>
                            <div v-for="comment, key in risk.comments" class="panel panel-default">
                                <div class="panel-body">
                                    <p v-html="comment.body"></p>
                                    <b>Added by {{ comment.created_by }} {{ ago(comment.created_at) }}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Comments -->
            </div>

        </div>

        <!-- Begin NIST Info -->

        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <icon name="rss"></icon>
                            NIST Publication Details
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Family:</label>
                            <p>{{ risk.nist_control_name.nist_control.family }}</p>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Safeguard:</label>
                            <p>{{ risk.nist_control_name.name }}</p>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Title:</label>
                            <p>{{ risk.nist_control_name.nist_control.title }}</p>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Priority:</label>
                            <p>{{ risk.nist_control_name.nist_control.priority }}</p>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Baseline Impact:</label>
                            <p>{{ risk.nist_control_name.nist_control.baseline_impact }}</p>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Description:</label>
                            <p>{{ risk.nist_control_name.nist_control.description }}</p>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Supplemental Guidance:</label>
                            <p>{{ risk.nist_control_name.nist_control.supplemental_guidance }}</p>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Related:</label>
                            <p>{{ risk.nist_control_name.nist_control.related }}</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <!-- End NIST Info -->
    </div>
</template>

<script>
    import debounce from 'debounce';

    export default {
        props: ['impacts', 'statuses', 'assignments', 'risk'],

        data() {
            return {
                milestones: this.risk.milestones,
                comments: this.risk.comments,
                selectedImpact: this.risk.impact,
                selectedStatus: this.risk.status,
                selectedAssignment: this.risk.assignment,
                selectedNistControlName: this.risk.nist_control_name.name,
                newMilestone: {
                    body: '',
                    completed: false,
                    created_by: window.App.user.name
                },
                newComment: {
                    body: '',
                    created_by: window.App.user.name
                },
                riskButton: 'Open',
                milestonesButton: 'Open',
                commentsButton: 'Open',
                options: [],
                delay: 300,
                submitted: false,
                errors: [],
            }
        },

        created() {
            this.getOptions = debounce(this.getOptions, this.delay);
            this.fetch();
        },

        watch: {
            selectedImpact() {
                this.risk.impact = this.selectedImpact;
            },
            selectedStatus() {
                this.risk.status = this.selectedStatus;
            },
            selectedAssignment() {
                this.risk.assignment = this.selectedAssignment;
            },
            selectedNistControlName() {
                this.risk.nist_control_name_id = this.selectedNistControlName.value;
            },
            milestones() {
                for(let i=0; i< this.milestones.length; i++) {
                    this.milestones[i].priority = i + 1;
                }
                this.updateMilestones();
            }
        },

        methods: {

            fetch(search, loading) {
                axios.get('/api/nist-control-names', { params: { q: search }})
                        .then(response => {
                            this.options = response.data;
                            loading(false);
                        });
            },

            updateRisk() {

                this.risk.target_completion = moment(this.risk.target_completion).format('YYYY-MM-DD');

                axios.patch('/risks/' + this.risk.id, this.risk)
                        .then(function (response) {
                            flash('Risk Updated', 'success');
                        })
                        .catch(function (error) {
                            flash('Uh oh... ' + error.response.data, 'danger')
                        });

            },

            updateMilestones() {
                axios.patch('/risks/' + this.risk.id + '/milestones', this.milestones)
                    .then(function (response) {
//                        flash('Milestones Updated', 'success');
                    })
                    .catch(function (error) {
                        flash('Uh oh... ' + error.response.data, 'danger')
                    });
            },

            addMilestone() {
                axios.post('/risks/' + this.risk.id + '/milestones', this.newMilestone)
                        .then(({data}) => {

                            this.risk.milestones.push(data);

                            flash('Your Milestone has been posted', 'success');

                            this.newMilestone.body = '';
                            this.newMilestone.completed = false;

                        });
            },

            deleteMilestone(milestone, key) {
                axios.delete('/risks/' + this.risk.id + '/milestones/' +  milestone.id);

                this.milestones.splice(key, 1);

                flash('Your Milestone has been deleted', 'success');

            },

            addComment() {
                axios.post('/risks/' + this.risk.id + '/comments', this.newComment)
                        .then(({data}) => {

                            this.risk.comments.unshift(data);

                            flash('Your Comment has been posted', 'success');

                            this.newComment.body = '';

                        });
            },

            getOptions(search, loading) {
                loading(true);
                this.fetch(search, loading);
            },

            ago(date) {
                return moment(date).fromNow();
            },

            milestoneCompletedStatus(status) {
                if(status) {
                    return "success";
                } else {
                    return "default"
                }
            },

            toggleRiskButton() {
                if(this.riskButton == 'Open') {
                    this.riskButton = 'Close';
                    this.milestonesButton = 'Open';
                    this.commentsButton = 'Open'
                } else {
                    this.riskButton = 'Open';
                }
            },

            toggleMilestonesButton() {
                if(this.milestonesButton == 'Open') {
                    this.milestonesButton = 'Close';
                    this.riskButton = 'Open';
                    this.commentsButton = 'Open'
                } else {
                    this.milestonesButton = 'Open';
                }
            },

            toggleCommentsButton() {
                if(this.commentsButton == 'Open') {
                    this.commentsButton = 'Close';
                    this.riskButton = 'Open';
                    this.milestonesButton = 'Open'
                } else {
                    this.commentsButton = 'Open';
                }
            },

        },

        computed: {
            customDateFormatter() {
                return moment(this.risk.target_completion).format('YYYY-MM-DD');
            },

            signedIn() {
                return window.App.signedIn;
            },
        }
    }
</script>

<style>
    .top-form {
        margin-top: 50px;
    }
    .panel-body-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    .panel-footer-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    .panel-title-stats {
        margin-left: 20px;
    }
    .fa-icon {
        
    }
    .drag-n-drop-message {
        margin-bottom: 10px;
    }
</style>